
.mt5{
    margin-top: 50px;
}

.mt4{
    margin-top: 40px;
}

.mt3{
    margin-top: 30px;
}

.mt2{
    margin-top: 20px;
}

.mt1{
    margin-top: 10px;
}

.mb5{
    margin-bottom: 50px;
}

.mb4{
    margin-bottom: 40px;
}

.mb3{
    margin-bottom: 30px;
}

.mb2{
    margin-bottom: 20px;
}

.mb1{
    margin-bottom: 10px;
}


.pt5{
    padding-top: 50px;
}

.pt4{
    padding-top: 40px;
}

.pt3{
    padding-top: 30px;
}

.pt2{
    padding-top: 20px;
}

.pt1{
    padding-top: 10px;
}

.pb5{
    padding-bottom: 50px;
}

.pb4{
    padding-bottom: 40px;
}

.pb3{
    padding-bottom: 30px;
}

.pb2{
    padding-bottom: 20px;
}

.pb1{
    padding-bottom: 10px;
}