<div class="pb5 pt5">
  <div class="container">
    <div class="row">
      <div class="col l12 m12 s12 hoverable-image">
        <a [routerLink]="['/get-in-touch']">
        <img id="image1" class="w100" src="../../../../assets/img/dev4.png" alt="" />
        <img id="image2" class="w100" src="../../../../assets/img/dev4-2.png" alt=""/>
      </a>
      </div>
      <div class="col l6 m12 s12">
        <!--Inicio Primer Card -->
        <div
          class="card grey lighten-2"
          style="margin-bottom: 0; height: 40px; border-radius: 0px"
        >
          <div class="card-content" style="padding: 10px">
            <p><i class="fa fa-briefcase"></i> projects</p>
          </div>
        </div>
        <div class="border-color">
          <p>
            In the button below you can see the companies and projects where
            i've been working and tecnologies i've used to develop then.
          </p>
          <div class="center-align mt4">
            <a
              [routerLink]="['/projects']"
              class="btn btn-color waves-effect waves-light"
              >See more &nbsp;></a
            >
          </div>
        </div>
      </div>
      <div class="col l6 m12 s12">
        <!--Inicio Segundo Card -->
        <div
          class="card grey lighten-2"
          style="margin-bottom: 0; height: 40px; border-radius: 0px"
        >
          <div class="card-content" style="padding: 10px">
            <p><i class="fa fa-download"></i> resume</p>
          </div>
        </div>
        <div class="border-color">
          <p>
            Or, if you want to see details of technologies i've been working on,
            you can download my resume in the button below.
          </p>
          <div class="center-align mt4">
            <a
              href="../../../../assets/docs/MiguelGarciaCV-Profesional (English).pdf"
              class="btn btn-color waves-effect waves-light"
              download
              >Download</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
