<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text consolas-font">miguel-garcia</h5>
        <p class="red-text text-lighten-2">
          I'm always lookin' for the next challenge to upgrade my development
          skills. Looking forward for new challenges.
        </p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text consolas-font">reach-me</h5>
        <ul>
          <li>
            <a
              class="hover-footer-text"
              target="_blank"
              href="https://www.linkedin.com/in/miguel-alejandro-garcia-paredes-724090169/"
              ><i class="fa fa-linkedin"></i> Linkedin</a
            >
          </li>
          <li>
            <a
              class="hover-footer-text"
              target="_blank"
              href="https://github.com/mgarciaparedes"
              ><i class="fa fa-github"></i> Github</a
            >
          </li>
          <li>
            <a
              class="hover-footer-text"
              href="mailto:miguelgarciaparedes22@gmail.com"
              ><i class="fa fa-envelope"></i> Mail</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Developed by Miguel Garcia - © 2022
      <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
    </div>
  </div>
</footer>
