<!-- <div class="navbar-fixed"> -->
<nav class="white z-depth-0">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <img class="img-logo" src="../../assets/img/logo-square2.png" />
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        <a class="grey-text text-lighten-1" 
        [routerLink]="['/home']"
          ><i class="fa fa-home"></i
        ></a>
      </li>
      <li>
        <a
          class="grey-text text-lighten-1"
          target="_blank"
          href="https://www.linkedin.com/in/miguel-alejandro-garcia-paredes-724090169/"
          ><i class="fa fa-linkedin"></i
        ></a>
      </li>
      <li>
        <a
          class="grey-text text-lighten-1"
          target="_blank"
          href="https://github.com/mgarciaparedes"
          ><i class="fa fa-github"></i
        ></a>
      </li>
      <li>
        <a
          class="grey-text text-lighten-1"
          href="mailto:miguelgarciaparedes22@gmail.com"
          ><i class="fa fa-envelope"></i
        ></a>
      </li>
      <li>
        <a
          class="consolas-font btn btn-color waves-effect waves-light"
          href="mailto:info@miguel-garcia.site"
          >Get in Touch</a
        >
      </li>
    </ul>
  </div>
</nav>
<!-- </div> -->

<!-- <div class="fixed-action-btn">
    <a class="btn-floating btn-large red">
      <i class="large material-icons">add</i>
    </a>
  </div> -->
