<div class="container">
  <div class="row">
    <div class="col l12 mt4 center-align">
      <div class="center-align">
        <img class="w100" src="../../assets/img/logo-gif2.gif" alt="">
      </div>
      <h5 class="center-align grey-text text-lighten-1 consolas-font">I like to make Hello Worlds.</h5>
      <div class="hoverable-image">
        <img id="image1" class="w100" src="../../assets/img/dev1.png" alt=""/>
        <img id="image2" class="w100" src="../../assets/img/dev2.png" alt=""/>
      </div>
    </div>
  </div>
</div>
