<div class="container mt5">
  <div class="row">
    <div class="col l12 m12 s12 center-align">
      <div class="mb3">
        <h4>My projects</h4>
        <h6 class="grey-text text-lighten-1">
          Welcome to my portfolio, here you can see the specifics
        </h6>
      </div>
      <div class="mb3">
        <a class="btn btn-color" [routerLink]="['/home']">< Come back to home</a>
      </div>
    </div>
  </div>
  <div class="row">
    <!--Inicio Primer Card -->
    <div class="col l6 m12 s12">
      
      <div
        class="card grey lighten-5 border-right valign-wrapper"
        style="height: 350px"
      >
        <div class="card-content">
          <div class="center-align mb2">
            <img class="w30" src="../../../assets/img/stdi.png" alt="stdi" />
          </div>
          <p>
            (<b>Personally my best work</b>) Profile where you can set up all
            your social media and other advanced tools such as geolocation and
            carousel. Developed with MERN Stack (MongoDB, ExpressJS, ReactJs and NodeJS).
          </p>
          <div class="center-align mt4">
            <a
              href="https://shop.stdicompany.com"
              class="red-text text-lighten-2"
              target="_blank"
              >profile.stdicompany.com</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--Inicio Segundo Card -->
    <div class="col l6 m12 s12">
      <div
        class="card grey lighten-5 border-right valign-wrapper"
        style="height: 350px"
      >
        <div class="card-content">
          <div class="center-align mb2">
            <img
              class="w50"
              src="../../../assets/img/comech.png"
              alt="comech"
            />
          </div>
          <p>
            Web page made with Material Design Framework and Animation on Scroll
            (AOS Framework).
          </p>
          <div class="center-align mt4">
            <a
              href="https://comech.cl"
              class="red-text text-lighten-2"
              target="_blank"
              >comech.cl</a
            >
          </div>
        </div>
      </div>
    </div>
    <!--Inicio Tercer Card-->
    <div class="col l6 m12 s12">
      <div
        class="card grey lighten-5 border-right valign-wrapper"
        style="height: 350px"
      >
        <div class="card-content">
          <div class="center-align">
            <img
              class="w50"
              src="../../../assets/img/fonasa.png"
              alt="comech"
            />
          </div>
          <p>
            I've collaborated in this project in the Frontend area, using
            ReactJS framework with responsive design framework Bootstrap.
            Including login, dashboard and modules. Using the Promise based HTTP
            client AXIOS.
          </p>
          <div class="center-align mt4">
            <a
              href="https://portalprestador.fonasa.cl/FrontPortalPrestador/"
              class="red-text text-lighten-2"
              target="_blank"
              >portalprestador.fonasa.cl<br />/FrontPortalPrestador/</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col l6 m12 s12">
      <div
        class="card grey lighten-5 border-right valign-wrapper"
        style="height: 350px"
      >
        <div class="card-content">
          <div class="center-align mb2">
            <img class="w50" src="../../../assets/img/stdi2.png" alt="stdi" />
          </div>
          <p>
            Web made with Wordpress using page builder plugin drag and drop
            Elementor, with Landing Page, contact form and informative
            multimedia.
          </p>
          <div class="center-align mt4">
            <a
              href="https://www.stdicompany.com"
              class="red-text text-lighten-2"
              target="_blank"
              >stdicompany.com</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col l6 m12 s12">
      <div
        class="card grey lighten-5 border-right valign-wrapper"
        style="height: 350px"
      >
        <div class="card-content">
          <div class="center-align mb2">
            <img class="w30" src="../../../assets/img/stdi.png" alt="stdi" />
          </div>
          <p>
            E-commerce and landing page made with Shopify. Connected to Shopify
            Payments and Paypal.
          </p>
          <div class="center-align mt4">
            <a
              href="https://shop.stdicompany.com"
              class="red-text text-lighten-2"
              target="_blank"
              >shop.stdicompany.com</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="col l6 m12 s12">
        <div
        class="card grey lighten-5 border-right valign-wrapper"
        style="height: 350px"
      >
        <div class="card-content">
          <div class="center-align">
            <img src="../../../assets/img/LOGO-LUI-100px.png" alt="lui" />
          </div>
          <p>
            Web made with Wordpress using page builder plugin drag and drop
            PageLayer, with Landing Page, contact form and informative
            multimedia.
          </p>
          <div class="center-align mt4">
            <a
              href="https://languageuniverseinstitution.com"
              class="red-text text-lighten-2"
              target="_blank"
              >languageuniverseinstitution.com</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt4">
    <div class="col l12 m12 s12 center-align">
        <div class="mb3">
          <a class="btn btn-color" [routerLink]="['/home']">< Come back to home</a>
        </div>
      </div>
  </div>
</div>
